@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/toastr/build/toastr.min.css";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #DCDCDC;
}

.custom-btn {
  color: #fff;
  background-color: #6E7FF3;
  border-color: #6E7FF3;
}

.command, .command-text {
  font-family: 'Gamja Flower', cursive;
}

.custom-header {
  font-family: 'Satisfy', cursive;
  color: #5753C9 !important;
}

.about-sheet {
  font-family: 'Satisfy', cursive;
  color: #5753C9;
}

.link {
  color: white !important;
}

.custom-margin {
  margin-top: 50px;
  color: white;
}

.not-found {
  min-height: 90vh;
}

.capitalise {
  text-transform: capitalize
}

.command {
  color: #5753C9;
}


.command:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  display: inline;
}