@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/toastr/build/toastr.min.css";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

.custom-btn {
  color: #fff;
  background-color: #6E7FF3;
  border-color: #6E7FF3;
}

.custom-header {
  font-family: 'Satisfy', cursive;
}

.about-sheet {
  font-family: 'Satisfy', cursive;
  color: #5753C9;
}

.link {
  color: white !important;
}

.custom-margin {
  margin-top: 50px;
  color: white;
}
